<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
  <!-- open-iconic-bootstrap (icon set for bootstrap) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>
  <!-- Datatables -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
  <!-- FancyBox -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css"/>
  <style>
    .fancybox-slide--iframe .fancybox-content {
	  width  : 800px;
	  height : 600px;
	  max-width  : 80%;
	  max-height : 80%;
	  margin: 0;
    }
  </style>


  <title>{{title}}</title>
</head>

<body class="mx-auto w-75">
<div id="notification" class="fixed-top mx-auto w-75"></div>


<nav class="navbar navbar-dark bg-primary text-light justify-content-between shadow">
  <h1>{{heading}}</h1>
  <div class="w-50 d-flex justify-content-end">
    <h6 class="my-auto mr-3">{{ user.dn }}</h6>
    <img id="identicon" class="img-fluid rounded-circle" src="https://www.gravatar.com/avatar/{{ user.email| gravitar_hash }}?d=identicon" style="height: 60px">
  </div>
</nav>
<nav class="navbar navbar-light bg-light justify-content-end border shadow rounded-bottom mb-5">
  <img alt="Monitoring daemon status" class="my-auto mx-1" src="{{monitoringd_service| service_badge_url('monitoringd')}}">
  <img alt="DIRAC status" class="my-auto mx-1" src="{{dirac_service| service_badge_url('DIRAC')}}">
  {% if user.admin %}
  <a class="btn btn-outline-primary" data-fancybox data-type="iframe" data-src="/admins" data-caption="Admin Management" href="javascript:;" role="button">
    <span class="oi oi-person"></span>
    Admins
  </a>
  {% endif %}
</nav>

<!--
    <div class="pt-3 d-flex justify-content-end">
      <h5 class="my-auto">{{ user.dn }}</h5>
      <img id="identicon" class="rounded-circle" src="https://www.gravatar.com/avatar/{{ user.email| gravitar_hash }}?d=identicon">
    </div>
    <div class="d-flex justify-content-start">
      <h1>Production System</h1>
    </div>

    <div class="my-4 d-flex justify-content-end">
      <button type="button" class="btn btn-outline-primary">
	<span class="oi oi-person"></span>
	Admins
      </button>
    </div>
-->
<table id="requests_table" class="table table-striped"></table>

<div class="d-flex justify-content-start mt-4">
  <a class="btn btn-primary mr-1" data-fancybox data-type="iframe" data-src="/newrequest" data-caption="New Request Form" href="javascript:;" role="button">
    <span class="oi oi-plus"></span>
    New Request
  </a>
  <button type="button" class="btn btn-outline-primary ml-1">
    <span class="oi oi-cloud-download"></span>
    Export
  </button>
</div>

<hr>

<div class="d-flex justify-content-end">
  <a class="btn btn-light text-primary border" href="/report" role="button">
    <span class="oi oi-bullhorn"></span>
    Report a problem
  </a>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<!-- FancyBox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
<script src="utils.js"></script>
<script>
$(document).ready(function(){

  var requests_table = $("#requests_table");

  requests_table.DataTable({
    "ajax": {"url": "api/requests", "cache": true, "dataSrc": ''},
    "order": [[1, "asc"]],
    "columns": [
        { "data": null, "orderable": false, "width": "5%", "defaultContent": '<span class="oi oi-chevron-bottom text-primary parametricjobs_toggle"></span>'},
        { "title": "ID", "data": "id", "width": "5%" },
        { "title": "Description", "data": "description", "width": "60%" },
        { "title": "Status", "data": "status", "width": "5%" },
        { "title": "Date Requested", "data": "request_date", "width": "15%" },
        { "title": "Requester", "data": "requester.name", "width": "10%" },
    ]
  })

  requests_table.on("click", "tr", function(){
    $(this).toggleClass("bg-primary text-light");
    $(this).find("span.parametricjobs_toggle").toggleClass("text-light");
  });

  requests_table.on("click", "span.parametricjobs_toggle", function(){
    var parametricjobs_toggle = $(this);
    var tr = parametricjobs_toggle.closest('tr');
    var row = requests_table.DataTable().row(tr);
    parametricjobs_toggle.toggleClass("text-primary text-danger oi-chevron-bottom oi-chevron-top");

    if ( row.child.isShown() ) {
      // This row is already open - close it
      row.child.hide();
      tr.removeClass('shown');
      return;
    }

    var subtable = $("<table/>", {"class": "table table-striped"});
    subtable.DataTable();
    row.child(subtable).show();
    tr.addClass('shown');

  });
});
</script>
</body>
</html>
