<fieldset>
    <legend>Basic Information</legend>

    <label for="site">Site:</label>
    <div class="input-group">
        <select id="site" name="site" class="selectpicker form-control" data-size="10" data-width="150px" data-dropup-auto="false" required>
            <option>ANY</option>
            <option>LCG.UKI-LT2-IC-HEP.uk</option>
            <option>LCG.UKI-NORTHGRID-SHEF-HEP.uk</option>
        </select>
    </div>

    <br>
    <label for="priority">Priority:</label>
    <div class="input-group">
        <select id="priority" name="priority" class="selectpicker form-control" data-size="10" data-width="150px" data-dropup-auto="false" required>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option selected>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
        </select>
    </div>

    <br>
    <label for="description">Description:</label>
    <div>
        <textarea class="form-control" name="description" placeholder="Enter a description of the request here." required></textarea>
    </div>
</fieldset>
<script>
$(document).ready(function(){
    $("#submit_btn").click(function(event){
        event.preventDefault();
        parent.$.fancybox.close();
        $.ajax({
            url: "api/requests",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({request:{parametricjobs:[{num_jobs:3},{num_jobs:5}]}}),
            error: function(jqXHR, textStatus, errorThrown){
                console.error(`Failed to create new requests.\n--------\nStatus: ${textStatus}\nError: ${errorThrown}\n--------\n${jqXHR.responseText}`);
                parent.bootstrap_alert("danger", "ERROR:", "Failed to create new requests!");
            },
            success: function(response, status, request){
                console.log("Request created");
                parent.bootstrap_alert("success", "Success:", "Request added");
                parent.$("#requests_table").DataTable().ajax.reload();
            }
        });
    });
});
</script>
